/**
* variables.scss file, used to initialize all style variables and maps
* @author Tristan Falcon
*/

/****************** colors ******************/
$colors: (
    black: #000000,
    white: #ffffff
);

/****************** break-points ******************/
$break-points: (
    breakpoint-desktop: 1200px,
    breakpoint-laptop: 950px,
    breakpoint-mobile: 400px
);


/***************** fonts ******************/
$fonts: (
    press-start: #{"'Press Start 2P'", cursive}
);

